--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.4.1+cu124
torchvision

git+https://github.com/huggingface/transformers.git@refs/pull/42407/head

numpy<2.0
pillow
opencv-python-headless
